[defaults]
roles_path       = $HOME/plays/roles
inventory        = $HOME/plays/inventory
forks            = 10
remote_user      = automation
private_key_file = $HOME/.ssh/id_rsa

[privilege_escalation]
become = false